body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(83, 82%, 47%);
}

.container {
    width: 80%;
    max-width: 600px;
    background: hsl(157, 96%, 45%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form input, .form button {
    margin: 5px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid hsl(335, 83%, 43%);
}

.task-item.completed {
    text-decoration: line-through;
    color: #0b62c5;
}

.task-item button {
    margin-left: 10px;
}
